*{
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2, p, div{
    background-color: orange;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    border-radius: 50%;
    box-shadow: 3px 3px darkgoldenrod;
    float: left;
    margin-right: 25px;
}
#div_2{
    background-color: green;
    color: red;
    /* border-radius: 0;
    width: 300px;
    height: 300px; */
}

.g_div{
    background-color: gray;
}

#div_2 h3{
    color: red;
}
#div_2>ul>li{
    color: yellow;
}

input[type='password']{
    border: 10px solid red;
    margin: 10px 15px 20px 25px;
}

div:hover{
    transform: scale(0.9);
    transition: 0.2s;
    cursor: pointer;
}

input[type='text']:focus{
    background-color: orange;
}